.content{
	background-color: black;
	width: 690px;
	height: 300px;
    color: white;
	font-family: 'Open Sans', sans-serif;
}
.media-icons>i{
	padding: 5px;
	padding-left: 24px;
	
}
.logo_name{
	font-size:30px;
}
.top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 40px;		
		padding-top: 40px;	
	padding-left: 40px;	
}
.link-boxes{
	display: flex;
	width: 700px;
	gap: 40px;
	line-height: 30px;
    padding: 20px;
}
li{

	list-style-type: none;
}
a{
	color: white;
	text-decoration-line: none;
}

.bottom-details{
	width: 690px;
	height: 60px;
	background-color: #2c303a;
	color: white;
	display: flex;
	justify-content: center;
	gap: 350px;
	
}