body{
		font-family: 'Open Sans', sans-serif;
}



.content{
	background-color: black;
	width: 830px;
	height: 330px;
    color: white;

}
.media-icons>i{
	padding: 5px;
	padding-left: 24px;
}
.logo_name{
	font-size:30px;
}
.top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 40px;		
	padding-top: 40px;	
	padding-left: 40px;	
}

.media-icons{
	display: flex;
	font-size: 30px;
}
.link-boxes{
	display: flex;
	width: 800px;
	gap: 40px;
	line-height: 30px;
    padding: 20px;
}
li{

	list-style-type: none;
}
a{
	color: white;
	text-decoration-line: none;
}
.bottom-details{
	width: 830px;
	height: 60px;
	background-color: #2c303a;
	color: white;
	display: flex;
	justify-content: center;
	gap: 420px;
	
}
b::before{
	content: '';
	color: white;
	width: 30px;
	height: 2px;
	position: absolute;
	background-color: white;
	top: 150px;	
}

.bottom-details>p{
	color
}